.section5 {
  margin: 0 auto;
  width: 1080px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}
.section5 h2 {
  margin: 0;
  margin-top: 13.82px;
  color: #303030;
  font-family: Roboto Condensed;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.section5 p {
  margin: 0;
  margin-top: 30px;
  color: #404040;
  font-family: Roboto Condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 170.187%; /* 34.037px */
}
.section5 dl {
  margin: 44px auto 70px auto;
}
.section5 dt {
  display: flex;
  width: 612.422px;
  margin-bottom: 15.16px;
  justify-content: space-between;
  border-radius: 11.022px;
  border: 1.378px solid #369fff;
  cursor: pointer;
  position: relative;
}
.section5 dt.ativo {
  margin-bottom: 0;
}
.section5 dt p {
  margin: 0;
  padding: 10px;
  color: #006ed3;
  font-family: Manrope;
  font-size: 19.289px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.086px;
}
.faq-btn {
  width: 42.067px;
  height: 42.067px;
  flex-shrink: 0;
  background: url("../img/chevron-DOWN.svg");
  
  border: none;
  position: absolute;
  right: 15px;
}
.section5 dt.ativo .faq-btn{
  background: url("../img/chevron-UP.svg");
}
.section5 dd {
  width: 500px;
  flex-shrink: 0;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 38px 41px;
  background: #F7F7F7; 
  border-radius: 11.022px;
  border: 1.378px solid #369fff;
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.js-accordion dd {
  display: none;
}
.js-accordion dd.ativo {
  display: block;
  animation: slidedown 0.5s forwards;
}
@keyframes slidedown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 1500px;
    opacity: 1;
  }
}
