.section4 {
  padding-bottom: 0;
  margin: 71px 0;
  display: flex;
  flex-direction: column;
  background-image: url("../img/background.png");
  background-size: cover;
}
.section4 h2 {
  color: #303030;
  font-family: Roboto Condensed;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  margin-top: 50px;
}
.section4 p {
  color: #303030;
  font-family: Roboto Condensed;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 170.187%; /* 34.037px */
  margin-top: 30px;
  margin-bottom: 44px;
}
.carrossel {
  height: 349.879px;
  justify-content: center;
  align-items: center;
  gap: 31.482px;
  display: flex;
}
.card-wrapper {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.slide-container {
  display: flex;
  width: auto;
  flex-flow: row nowrap;
  gap: 15px;
  padding: 0 5px 0 5px;
}
.btn-left,
.btn-right {
  border-radius: 50%;
  cursor: pointer;
  border-color: transparent;
  background: transparent;
}
.control ellipse:hover {
  fill: #369fff;
  fill-opacity: 0.5;
}
.card {
  position: relative;
  width: 260.89px;
  height: 268.918px;
  flex-shrink: 0;
  border-radius: 7.155px;
  background: #fff;
  box-shadow: 0px 2.86199px 4.29299px 0px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

.section4 .card .star {
  display: flex;
  width: 176.728px;
  height: 31.482px;
  padding: 0px 26.474px 12.593px 0px;
  align-items: flex-start;
  gap: 10.732px;
  position: absolute;
  left: 21.883px;
  top: 52.161px;
}
.section4 .card h3 {
  color: #000;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2.88px;
  min-width: 90.868px;
  min-height: 25.758px;
  position: absolute;
  left: 21.883px; 
}
.section4 .card p {
  color: #000;
  font-family: Roboto Condensed;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
  width: 217.512px;
  position: absolute;
  right: 21.496px;
  top: 90.83px;
  margin: 0;
}
.card strong {
  color: #369fff;
}
.card.startCard {
  margin: 0;
  width: 305.451px;
  height: 314.85px;
}
.section4 .card.startCard h3 {
  width: 90.868px;
  height: 25.758px;
  position: absolute;
  left: 22.532px;
  top: 32.964px;
  margin: 0;
}
.section4 .card.startCard .star {
  position: absolute;
  left: 22.532px;
  top: 68.722px;
  display: flex;
  width: 176.728px;
  height: 31.482px;
  padding: 0px 26.474px 12.593px 0px;
  align-items: flex-start;
  gap: 10.732px;
  margin: 0;
}
.section4 .card.startCard p {
  width: 259.726px;
  position: absolute;
  left: 22.532px;
  top: 123.12px;
}
.section4 .carrossel::-webkit-scrollbar {
  display: none;
}
